*{
    box-sizing: border-box;
}
.container{

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50vh;
}
.dog, .cat{
    flex: 0 0 500px;
    height: 100%;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.dog h2, .cat h2{
    text-align: center;
    text-transform: uppercase;
}

button{
    cursor: pointer;
}

img{
    width: 350px;
    height: 350px;
}