*{
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main_box{
    border: 1px solid red;

    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

h1{
    text-transform: uppercase;
    background-color: white;
    padding: .4rem;

    width: fit-content;

    border: 1px solid blue;
}

.table_components{
    border: 1px solid pink;

    width: 70%;
    height: 50%;

    display: flex;
}
.comp_addwhises{
    border: 1px solid orange;
    flex: 1;
}
.comp_whislist{
    border: 1px solid #333;
    flex: 2;

    position: relative;
}
.title_comp_position{
    position: absolute;
    top: -30px;
    left: 250px;
}
.list_wishes{
    margin-top: 4rem;
    margin-left: 2rem;
}
.list_wishes li{
    margin-bottom: .7rem;
}
.text-li{
    display: flex;
    flex-wrap: nowrap;
    gap: .5rem;
}