@tailwind base;
@tailwind components;
@tailwind utilities;

:root {}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #ffff;
  background-color: rgb(36, 36, 36);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

section {
  position: fixed;
  top: 35%;
}

.container-cube {
  position: relative;

  width: 400px;
  height: 400px;

  transform-style: preserve-3d;

  display: flex;
  justify-content: center;
  align-items: end;

  transform: rotate3d(1, 1, 1, 43deg);

  animation: rotate 2s ease-in-out forwards;
  animation-delay: .7s;
}

.face {
  width: 200px;
  height: 200px;

  text-align: center;

  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* backface-visibility: hidden; */
}

.face1 {
  border: 1px dotted #F4E409;
  opacity: .5;

  transform: translateZ(100px) translateY(-100px);

  animation: face1 .5s ease-in-out;
}

.face2 {
  border: 1px dotted #C8ADC0;
  opacity: .5;

  transform: rotateX(90deg);
  animation: face2 .5s ease-in-out;
}

.face3 {
  border: 1px dotted #B744B8;
  opacity: .5;

  transform: rotateY(90deg) translateY(-100px) translateY(0px) translateZ(100px);
  animation: face3 .5s ease-in-out;
}

.face4 {
  border: 1px dotted #69140E;
  opacity: .5;
  transform: translateZ(-100px) translateY(-100px);
  animation: face4 .5s ease-in-out;
}

.face5 {
  border: 1px dotted #3AB795;
  opacity: .5;
  transform: rotateY(90deg) translateY(-100px) translateY(0px) translateZ(-100px);
  animation: face5 .5s ease-in-out;
}

.face6 {
  border: 1px dotted #FFB4A2;
  opacity: .5;

  transform: rotateX(90deg) translateZ(200px);
  animation: face6 .5s ease-in-out;
}

@keyframes face1 {
  from {
    transform: translateZ(200px) translateY(200px);
  }
}

@keyframes face2 {
  from {
    transform: translateZ(200px) translateY(200px);
  }
}

@keyframes face3 {
  from {
    transform: rotateY(90deg) translateY(-200px) translateY(0px) translateZ(200px);
  }
}

@keyframes face4 {
  from {
    transform: translateZ(-200px) translateY(-200px);
  }
}

@keyframes face5 {
  from {
    transform: rotateY(90deg) translateY(-300px) translateY(0px) translateZ(-200px);
  }
}

@keyframes face6 {
  from {
    transform: rotateX(90deg) translateZ(300px);
  }
}

@keyframes rotate {
  0% {
    transform: rotate3d(1, 1, 1, 43deg);
  }

  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}