body{
    background-color: #242424;
}
.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
}

.slide {
    flex: 0 0 100%;
    opacity: 0;
    
}

.active {
    opacity: 1;
    transition: opacity .6s ease-in;
    
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}