@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monsieur+La+Doulaise&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    color: white;
    font-family: "Roboto", sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    width: 200px;
    height: 200px;
}

.cell{
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid white;
    border-radius: 4px;

    cursor: pointer;
}
.cell.active{
    background-color: rgb(0, 110, 255);
    border: 0;
}
.padre-modal{
    position: relative;
    z-index: 1;
}
.modal{
    position: absolute;
    z-index: 2;


    width: 500px;
    height: 300px;

    border: 1px solid white;
    background-color: #242424;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.winner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}